<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css"href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="grav icon"></i>Blog</div>

        <a href="/"class="item">Home</a>
        <a href="/blogs/new"class="item">New Post</a>
        <%  if(!currentUser){ %>
        <a href="/register"class="item float right">Register</a>
        <a href="/login"class="item ">Login</a>
        <% } else {%>
        <a href="/profile"class="item float right"><%= currentUser.username %></a>
        <a href="/logout"class="item ">Logout</a>
        <%}%>
      </div>

    </div>
