<%- include ./partials/header %>
<div class="text container ui main">


<h1>Register Page</h1>
<form class="ui form" action="/register" method="post">
  <div class="field">
    <input type="text" name="username" placeholder="username">
  </div>
<div class="field">
<input id="password" type="password" name="password" placeholder="password" minlength="4" maxlength="8" size="8" required>
</div>
<!-- <div class="field">
<input id="confirmed_password" type="password" name="confirmed_password" placeholder="confirm password" minlength="4" maxlength="8" size="8" required>
</div> -->
<div class="field">
<button class="ui button" type="submit">Register</button>
</div>
</form>
</div>

<%- include ./partials/footer %>
